@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
}

body {
        min-height: 100vh;

}

.header-section {
        display: flex;
        background: #000000;
        color: white;
        font-family: 'Roboto';
        font-weight: 400;
        size: 15px;
        line-height: 18px; 
        justify-content: space-between;
        padding: 10px 100px;  

}

.header-section .header-list {

        display: flex;
        list-style: none;
        gap: 30px;        
}

.section-brand-nav {
      
        background: #F0A83E;
        Padding: 24px 60px;        
        justify-content: space-between;
        display: flex;
        align-items: center;
        padding: 40px 80px;
        
}

.brand {
        width: 60px;
        display: flex;
        gap: 10px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        line-height: 23px;
        font-size: 20px;
        align-items: center;
        
}

.brand-brown {

        color:#3C2313 ;
        
}

.brand-white {

        color: white;
}

.brand-dog {

        width: 20px;        
}

.section-menu {

        display: flex;       
        list-style: url(./Imagens/pawLink.png);
        color: white;
        list-style-position: inside;
        align-items: center;
        justify-content: center;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        gap: 20px;     
}

.container-banner {

        height: 90vh;
        background-image: url(./Imagens/bg-head.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover; 
        align-items: center;               

}

.text-banners {
        width: 300px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;
        position: relative;
        top: 35%;
        left: 69%;       
}

.textwelcome-container {
        width: 450px;
        height: 54px;
        background-color: white;
        border-radius: 5px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 35px;
        line-height: 35px;
        text-align: center;
        color: #3C2313;
        padding: 10px 30px;
        
}

.text-container {
        display: ;
        color:#3C2313;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 22px;
        line-height: 19px;

}

.button-container {

        width: 150px;
        height: 50px;
        background: #F0A83E;
        color: white;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        border-radius: 5px;
        border: #00000000;
}

.category-principales {

        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 25px;
        gap: 15px;
}

.category-image {

        width: 100px;
        
}

.text-category {

        color: #3C2313;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 40px;
        line-height: 47px;
        }


.category-principales .list-category {

        display: flex;
        justify-content: space-between;
        gap: 25px;
        list-style: none;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 17px;
        line-height: 18px;     
}

.cards-section {

        display: flex;
        gap: 40px;
        justify-content:center;
        margin: 60px auto; 
        text-align: center;        
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 900;
        font-size: 15px;
        line-height: 18px;
        
        
}

.color-grey {

        background-color:#FBFAF6;
        padding: 25px;
        
        
}

.color-grey .main-text-card {

        color:#3C2313;
                
        
}

.main-text-price {

        color:#F0A83E ;
}

.foorter-section {

        background-color:#3C2313 ;
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 25px 50px;
        

}

.foorter-section h3{

        color: white;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 23px;

}

.foorter-section p{
        color: #8A8787;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 13px;
        line-height: 15px;



}



.section-footer-final {

        background-color: black;
        color: white;
        text-align: center;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 13px;
        line-height: 12px;
        padding: 5px;
}



